@inherits DefaultModalBase
<Modal @ref="modal"
       title="DefaultModal title">

    <BodyTemplate>
        DefaultModal body text goes here.
    </BodyTemplate>

    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Save changes</Button>
    </FooterTemplate>

</Modal>

<Button class="btn btn-primary-add" @onclick="OnShowModalClick">+</Button>
