@page "/"
@inherits DistributionPageBase;
@rendermode InteractiveServer


<PageTitle>DistributionPage</PageTitle>

<h1> Distributed duties</h1>

@for (int k = 0; k < distributedDuties.Count; k++)
{
    @foreach (var duty in distributedDuties[k])
    {
        int l = distributedDuties[k].IndexOf(duty);

        if (l == 0)
        {
            <h2>@duty</h2>
        }
        else
        {
            <ul>
                <li>@duty</li>
            </ul>
        }

    }

    <hr style="width:100%;text-align:left;margin-left:0">
}
<button class="btn btn-primary" @onclick="@(() =>
                                              {
                                                  @show = !show;
                                                  @distributedDuties = DistributeDuties(show);
                                                                 
                                                                 
                                              })">Distribute</button>



