@page "/duties"
@inherits DutyOverviewPageBase;
@rendermode InteractiveServer


<PageTitle>DutyOverviewPage</PageTitle>
<h1>Duty overview and creation</h1>

<h3> Duty name:</h3> 
<input class = "input-textbox" @bind="@nameTextField" @oninput="(e)=> { nameTextField = e.Value ==null? string.Empty:(string)e.Value; }" />
<button class="btn btn-primary" @onclick="@(() =>
                                          {
                                              addDutyToDB(nameTextField);

                                              nameTextField = "";
                                              duties = Duty.GetAllDuties();

                                          })">
    Add new duty
</button>
<table style="width:100%">
    <tr>
        <th>Duty</th>
        <th>Deleting</th>
    </tr>
    @foreach(var duty in duties)
    {
        <tr>
            <td>@duty.Name</td>
            <td>
                <button class="btn-primary-negative" @onclick="() => { 
                                                         removeDutyFromDB(duty); 
                                                         duties = Duty.GetAllDuties(); }">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>