@page "/duties"
@inherits DutyOverviewPageBase;
@rendermode InteractiveServer


<PageTitle>DutyOverviewPage</PageTitle>
<h1>Duty overview and creation</h1>

<h3> Duty name:</h3> 
<input class = "input-textbox" @bind="@nameTextField" @oninput="(e)=> { nameTextField = e.Value ==null? string.Empty:(string)e.Value; }" />
<button class="btn btn-primary" @onclick="@(() =>
                                          {
                                              if (!models.Contains(nameTextField))
                                              {
                                                  models.Add(nameTextField);
                                              }

                                              nameTextField = "";

                                          })">
    Add new duty
</button>
<table style="width:100%">
    <tr>
        <th>Duty</th>
        <th>Deleting</th>
    </tr>
    @foreach(var model in models)
    {
        <tr>
            <td>@model</td>
            <td>
                <button class="btn-primary-negative" @onclick="() => models.Remove(model)">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>