@page "/persons"
@inherits PersonPageBase
@rendermode InteractiveServer


<PageTitle>PersonPage</PageTitle>

<h1>Persons</h1>

<h3> Name of person:</h3>
<input class = "input-textbox" @bind="@nameTextField" @oninput="(e)=> { nameTextField = e.Value ==null? string.Empty:(string)e.Value; }" />
<button class="btn btn-primary" @onclick="@(() =>
                                          {
                                              addPersonToDb(nameTextField);

                                              nameTextField = "";
                                              
                                          })">
    Add new person
</button>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Deleting</th>
    </tr>
    @foreach(var person in persons)
    {
        <tr>
            <td>@person.Name</td>
            <td>
                <button class="btn-primary-negative" @onclick="() => removePersonFromDB(person)">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>